// colors curently important
$main: rgb(220  , 220, 220);
$main_light: rgba(230, 230, 230);
$main_dark: rgb(150, 150 , 150);






// used previously or potentially
$text_support: rgb(250, 191, 65);
$text_main: rgba(255, 255, 154, 1);
$table_row_1: rgba(255,153, 113, .3);
$table_row_2: rgba(255, 255, 154, .3);
$bright_cold_yellow_shadow: rgba(255, 255, 154, .4);
$magenta_shadow: rgb(255, 0, 255, .4);
// cyber_pallet
$magenta: magenta;
$drk_magenta: darkmagenta;
$cyan: cyan;
$drk_cyan: darkcyan;
$yellow: yellow;
$bright_cold_yellow: rgba(255, 255, 154, 1);
$orange_icecream: rgb(255,153, 113);
$white: white;