// colors curently in use
    // main
$main: rgb(220  , 220, 220);
$main_between: rgb(230, 233, 233);
$main_light: rgba(250, 240, 250, .4);
$main_light_opaque: rgba(250, 240, 250, 1);
$main_dark: rgb(180, 180 , 180);
$main_dark_cyan: rgb(180, 185 , 185);
$main_darker: rgb(150, 150 , 150);
$main_dark_shadow: rgba(150, 180 , 180, .2);
$inset_light:white;
$main_inset_shadow: rgb(168, 167, 167);

$day_section:rgba(150, 180 , 180, .2);

$table_odd:rgba(230, 233, 233, .3);
$table_even:rgba(123, 70, 70, 0.2);
    // typograpy
$text_lables: rgb(100,80,100);
$text_main: rgb(160, 100, 160);


// used previously or potentially
$text_support: rgb(250, 191, 65);

$table_row_1: rgba(255,153, 113, .3);
$table_row_2: rgba(255, 255, 154, .3);
$bright_cold_yellow_shadow: rgba(255, 255, 154, .4);
$magenta_shadow: rgb(255, 0, 255, .4);
// cyber_pallet
$magenta: magenta;
$drk_magenta: darkmagenta;
$cyan: cyan;
$drk_cyan: darkcyan;
$yellow: yellow;
$bright_cold_yellow: rgba(255, 255, 154, 1);
$orange_icecream: rgb(255,153, 113);
$white: white;