// variables & imports
@use "abstract.scss";

@font-face {
  font-family: "tektur";
  src: url("fonts/tektur/tektur-variablefont_wdthwght-webfont.woff2") format("woff2"),
    url("fonts/tektur/tektur-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jostregular';
  src: url('fonts/jost/jost-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/jost/jost-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// general
*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 12px;
}

// to blur placeholders while fetching content
.blurred {             
  filter: blur(5px);
  overflow: hidden;
}

// flex classes for potential future use(at list one instance exists);
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}


// main
body {
  margin: 0;
  block-size: 100vh;
  background-color: abstract.$main;

  // typography
  color: abstract.$text_main;
  font-family: "Tektur", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;

  #container {
    display: flex;
    align-items: center;
    margin-inline: auto;
    inline-size: 960px;
    background-color: abstract.$main;
    background-image: linear-gradient( to bottom right, abstract.$main, abstract.$main_between);
    box-shadow: -10px 0px 10px abstract.$main_light, 10px 0px 10px abstract.$main_dark_shadow;
    border-radius: 2rem;
    header {
      inline-size: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      align-self: center;
      

      #header-left {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-block: 3rem;
        margin-inline-start: 20px;
        padding: 0.5rem;
        padding-inline-start: 0;
        
        #header-current-temp{
          margin-inline-start: 30px;
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          min-block-size: 106px;
          #tempBig{
            background-color: abstract.$main_between;
            color: abstract.$text_lables;
            block-size: 50px;
            padding-block-start:5px;
            border-radius: 25px;
            text-align: center;
            background-image: linear-gradient( to bottom right, abstract.$main, abstract.$main_between);
            box-shadow:  3px 3px 2px abstract.$main_light, inset 3px 3px 7px abstract.$main_dark,  -3px -3px 5px abstract.$main_dark_cyan;
          }

          #toggle-parent {
            display: flex;
            flex-direction: row;
            inline-size: 8rem;
            justify-content: space-around;
            align-items: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: abstract.$text_lables;
  
            // two classes to provide reference for what type of content we need to load and also to provide animation for the toggle switch 
            .toggle-f {
              justify-self: flex-start;
            }
            .toggle-c {
              justify-content: flex-end;
            }
  
            #toggle {
              display: flex;
              align-items: center;
              background-color: abstract.$main_dark;
              background-image:linear-gradient( to bottom right, abstract.$main_darker, abstract.$main_between);
              block-size: 20px;
              inline-size: 32px;
              border-radius: 10px/10px;
              box-shadow: 3px 3px 3px abstract.$main_light, -3px -3px 7px abstract.$main_dark_cyan;
              
              #toggle-inner-circle {
                block-size: 16px;
                inline-size: 16px;
                border-radius: 8px;
                background-color: abstract.$main;
                background-image: linear-gradient( to bottom right, abstract.$main, 80%, abstract.$main_dark);
                border-top: 1px solid abstract.$main_light;
                border-left: 1px solid abstract.$main_light;
              }
        }

       
          }
        }
      }

      #header-right {
        display: grid;
        inline-size: 30%;
        justify-content: space-around;
        gap: 0.5rem;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        // min-inline-size: 50rem;
      }
    }

    .day-section {
      display: flex;
      inline-size: inherit;
      justify-content: space-between;
      margin-block: 25px;
      padding-inline: 30px;
      flex-wrap: wrap;
    }
    footer{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 5rem;
    }
  }
}

//  classes. header

.weather-icon {
  block-size: 40px;
  inline-size: 40px;
  object-fit: contain;
}

.weather-icon.large {
  block-size: 180px;
  inline-size: 180px;
}

.header-current-temp {
  font-size: 2rem;
  margin-inline-start: 1rem;
}

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  block-size: 40px;
  margin-block-end: 10px;
}

// classes day section

.day-card {
  display: flex;
  flex-direction: column;
  // box-shadow: -3px -3px 20px abstract.$bright_cold_yellow;  so I can see 'em;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.25rem;
  block-size: 100px;
  min-inline-size: 62px;
  padding-block-end: 10px;
  margin-inline: 15px;
}

// classes hour section (table)
table {
  table-layout: fixed;
  border-collapse: collapse;
}
.hour-section {
  inline-size: inherit;
  scrollbar-width: none;
  
}
.hour-row {
  inline-size: 100%;
  max-block-size:60px;
  border-spacing: 0;
  background-color: abstract.$main_between;
  text-align: center;
}

.hour-row:nth-child(even) {
  background-color: abstract.$main;
}

.hour-row > td {
  padding: 0.25rem 1rem;
}

// scroll bar
.hour-section::-webkit-scrollbar {
  display: none;
}

// typography
.label {
  font-weight: bold;
  font-size: .8rem;
  color: abstract.$text_lables;
  letter-spacing: .2rem;
}

.value-sub-info {
  font-weight: lighter;
  font-size: 1rem;
}

#time-europ{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow:1;
}

#tempBig span{
  font-size:2.5rem;
 
}

.jost{
  font-family: "jostregular";
  font-size: 1.05rem;
}


// responible for responsivness section

@media screen and (max-width: 960px) {
  #container {
    inline-size: 100%;
    .day-section {
      inline-size: 100%;
      justify-content: space-around;
    }
  }
}

@media (max-width: 959px) {
  body {
    #container {
      inline-size: 100vw;
      border-radius:0;
      header {
        display: flex;

        #header-left {
          flex-grow: 1;
          justify-content: space-around;
        }
        #header-right {
          flex-grow: 1;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  body #container header #header-left {
    min-inline-size: 0;
  }

  body #container header #header-right {
    min-inline-size: 0;
  }

  body #container .day-section {
    justify-content: center;
  }

  body #container .day-section {
    padding-inline:0;
  }

  .jost{
    letter-spacing: .1rem;
    font-size: .9rem;
  }
  
}
