// variableZ
@use "abstract.scss";




// general
*, *::before, *::after{
    box-sizing:border-box;
  }
  
  .blurred {
    filter: blur(5px);
    overflow: hidden;
  }


// main 
  body{
    margin:0;
    background-color: abstract.$back;
    color: abstract.$text_main;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    block-size: 100vh;
    #container{
      display:flex;
      flex-direction: column;
      align-items: center;
      #header{
        inline-size: 960px;
        display: flex;
        align-items:center;
        align-self: center;
        #header-left{
          display:flex;
          inline-size: 50%;
          align-items:center;
          justify-content:center;
          margin: .5rem;
          padding: .5rem;
          border-right: 5px solid abstract.$text_main; 
          
        }
        
        #header-right{
          display:grid;
          inline-size:50%;
          justify-content: space-around;
          gap: .5rem;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: repeat(2, auto);
        }
      }
      
      
      .day-section{
        display: grid;
        inline-size:960px;
        grid-template-columns: repeat(auto-fit, 75px); 
        gap: .5rem;
        justify-content: space-around;
        padding: 1rem;
      }
    }
    }
    
    
    
    
    //  classes. header
    
    .weather-icon{
      block-size: 40px;
    inline-size:40px;
    object-fit: contain;
  }
  
  
  .weather-icon.large{
    block-size: 180px;
    inline-size:180px;
  }

  .header-current-temp{
    font-size:2rem;
    margin-inline-start: 1rem;
  }
  
  
  .info-group{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  

  // classes day section

  .day-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:1px solid abstract.$text_support;
    border-radius: .25rem;
    padding: .25rem;
  }
  
    // classes hour section (table)
      .hour-section{
        inline-size: 960px;
        margin-inline:auto;
      }
    .hour-row{
      inline-size:100%;
      text-align: center;
      border-spacing: 0;
    }

    .hour-row{
      background-color: abstract.$table_row_1;
    }

    .hour-row:nth-child(even){
      background-color: abstract.$table_row_2;
    }

    .hour-row > td {
      padding: .25rem .5rem;
    }
  // typography

  .label{
    font-weight: bold;
    font-size: .6rem;
    color:abstract.$text_support;
  }

  .value-sub-info{
    font-weight: lighter;
    font-size: .75rem;
  }

    .day-card-day{
      font-size: .75rem;
      color: abstract.$text_main;
      margin-block-start: .5rem;
    }