body {
  color: rgb(160, 100, 160);
  font-family: "Tektur", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;
}

.label {
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(150, 150, 150);
  letter-spacing: 0.2rem;
}

.value-sub-info {
  font-weight: lighter;
  font-size: 1rem;
}

#time-europ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#temp-big span {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(100, 80, 100);
}

#current-time span {
  font-size: 1.5rem;
}

.jost {
  font-family: "jostregular";
  font-size: 1.05rem;
}

@font-face {
  font-family: "tektur";
  src: url("fonts/tektur/tektur-variablefont_wdthwght-webfont.woff2") format("woff2"), url("fonts/tektur/tektur-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jostregular";
  src: url("fonts/jost/jost-variablefont_wght-webfont.woff2") format("woff2"), url("fonts/jost/jost-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

.blurred {
  filter: blur(5px);
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
  background-color: rgb(150, 150, 150);
  background-image: linear-gradient(to bottom right, rgb(150, 150, 150), rgb(220, 220, 220));
}

#container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  inline-size: 960px;
  background-color: rgb(220, 220, 220);
  background: url("images/container_back.svg") top left no-repeat, linear-gradient(to bottom right, rgb(220, 220, 220), rgb(230, 233, 233));
  box-shadow: -10px 0px 10px rgba(250, 240, 250, 0.4), 10px 0px 10px rgba(150, 180, 180, 0.2), inset 5px 3px 10px white, inset -5px -3px 10px rgb(168, 167, 167);
  border-radius: 2rem;
}

header {
  inline-size: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
}

#header-left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-block: 3rem;
  margin-inline-start: 20px;
  padding: 0.5rem;
  padding-inline-start: 0;
}

#header-current-temp {
  margin-inline-start: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-block-size: 156px;
  inline-size: 130px;
  block-size: 156px;
  padding-block-start: 5px;
  padding-inline: 25px;
  border-radius: 25px;
  background-color: rgb(230, 233, 233);
  box-shadow: 3px 3px 2px rgba(250, 240, 250, 0.4), inset 3px 3px 3px rgb(180, 180, 180), -3px -3px 5px rgb(180, 185, 185);
  background-image: linear-gradient(to bottom right, rgb(230, 233, 233), rgb(220, 220, 220));
}

#header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-basis: 400px;
}

#header-table {
  display: grid;
  inline-size: 350px;
  justify-content: space-around;
  padding-block: 25px;
  block-size: 156px;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  background-color: rgb(230, 233, 233);
  color: rgb(100, 80, 100);
  background-image: linear-gradient(to bottom right, rgb(230, 233, 233), rgb(220, 220, 220));
  box-shadow: 3px 3px 2px rgba(250, 240, 250, 0.4), inset 3px 3px 3px rgb(180, 180, 180), -3px -3px 5px rgb(180, 185, 185);
  border-radius: 40px;
}

#toggle-parent {
  display: flex;
  flex-direction: column;
  block-size: 156px;
  inline-size: 30px;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(100, 80, 100);
}

.toggle-f {
  justify-self: flex-start;
}

.toggle-c {
  justify-content: flex-end;
}

#toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(180, 180, 180);
  background-image: linear-gradient(to bottom right, rgb(180, 180, 180), rgb(150, 150, 150));
  block-size: 100px;
  inline-size: 18px;
  border-radius: 10px/10px;
  box-shadow: 3px 3px 3px rgba(250, 240, 250, 0.4), -3px -3px 7px rgb(180, 185, 185);
  padding: 1px;
}

#toggle-inner-circle {
  block-size: 16px;
  inline-size: 16px;
  border-radius: 8px;
  background-color: rgb(220, 220, 220);
  background-image: linear-gradient(to bottom right, rgb(220, 220, 220), 80%, rgb(180, 180, 180));
  border-top: 1px solid rgba(250, 240, 250, 0.4);
  border-left: 1px solid rgba(250, 240, 250, 0.4);
}

.day-section {
  display: flex;
  inline-size: inherit;
  justify-content: space-between;
  margin-block-start: 25px;
  padding-block: 25px;
  padding-inline: 30px;
  flex-wrap: wrap;
  background-color: rgba(150, 180, 180, 0.2);
}

footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 5rem;
}

.weather-icon {
  block-size: 40px;
  inline-size: 40px;
  object-fit: contain;
}

.weather-icon.large {
  block-size: 180px;
  inline-size: 180px;
}

.header-current-temp {
  font-size: 2rem;
  margin-inline-start: 1rem;
}

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  block-size: 40px;
  margin-block-end: 10px;
}

.day-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.25rem;
  block-size: 100px;
  min-inline-size: 75px;
  padding-block-end: 10px;
  margin-inline: 15px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

.hour-section {
  inline-size: inherit;
  scrollbar-width: none;
}

.hour-row {
  inline-size: 100%;
  max-block-size: 60px;
  border-spacing: 0;
  background-color: rgba(230, 233, 233, 0.3);
  text-align: center;
}

.hour-row:nth-child(even) {
  background-color: rgba(123, 70, 70, 0.2);
}

.hour-row > td {
  padding: 0.25rem 1rem;
}

.hour-section::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 960px) {
  #container {
    inline-size: 100%;
  }
  #container .day-section {
    inline-size: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 959px) {
  body #container {
    inline-size: 100vw;
    border-radius: 0;
  }
  body #container header {
    display: flex;
  }
  body #container header #header-left {
    flex-grow: 1;
    justify-content: space-around;
  }
  body #container header #header-right {
    flex-grow: 1;
  }
}
@media (max-width: 790px) {
  body #container header #header-left {
    min-inline-size: 0;
  }
  body #container header #header-right {
    min-inline-size: 0;
  }
  body #container .day-section {
    justify-content: center;
  }
  body #container .day-section {
    padding-inline: 0;
  }
  body #container header #header-table {
    border-radius: 0px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
  }
  body #container header #header-current-temp {
    border-radius: 0px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-radius: 0;
  }
  .jost {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
