body{
  color: abstract.$text_main;
  font-family: "Tektur", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;
}


.label {
    font-weight: bold;
    font-size: .8rem;
    color: abstract.$main_darker;
  

    letter-spacing: .2rem;
  }
  
  .value-sub-info {
    font-weight: lighter;
    font-size: 1rem;
  }
  
  #time-europ{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow:1;
  }
  
  #temp-big span{
    font-size:2.5rem;
    text-align: center;
    color: abstract.$text_lables;
  }

  #current-time {
    font-size: 1.5rem;
  }
  
  .jost{
    font-family: "jostregular";
    font-size: 1.05rem;
  }
  